body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}
.navbar {
  background-color: #333;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #ffcc00;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: #333;
  margin-left: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff9900;
}

/* Hero section styles */
.hero {
  text-align: center;
  padding: 80px 20px;
  background-color: #ff9900;
  color: #fff;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

h1 {
  color: #ff9900;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #ff9900;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.1em;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
  background-color: #ffbb33;
  color: #fff
}
  .about-page p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
  }


/* Footer styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer a {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ff9900
}